/thesis/master-thesis.bbl
/thesis/master-thesis.bib
/thesis/master-thesis.aux
/thesis/master-thesis.blg
/thesis/master-thesis.log
/thesis/master-thesis.bcf
/thesis/master-thesis.run.xml
/thesis/master-thesis.tct
/thesis/master-thesis.toc
.idea/
/thesis/master-thesis (Copy).tex
